body{
  background-color:#bbb;
}
.Container{
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: space-around;
  margin:0 auto;
}
.Display7Seg{
  display: flex;
  flex-direction: row;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal{
  height: 20px;
  width : 100px;
  background-color: transparent;
  margin:0px;
  /* border: 1px solid black; */
  /* border-radius: 5px 5px 0 0; */
  /* box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.149),-3px -3px 8px 0px rgba(255, 255, 255, 0.415); */
}
.vertical{
  display: block;
  height: 100px;
  width : 20px;
  background-color: transparent;
  margin:0px;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  /* box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.156),-3px -3px 8px 0px rgba(255, 255, 255, 0.449); */

}

@keyframes bringIn{
  from{
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes bringOut{
  to{
    opacity: 0;
    transform: scaleY(0);
  }
}